<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Diet Tracker{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Diet Tracker</a>
        <div class="navbar-nav">
            {% if current_user.is_anonymous %}
            <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
    </nav>
    <main class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>