{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Add Veggie</h2>
        <form id="addVeggieForm">
            <div class="form-group">
                <input type="text" class="form-control" id="veggieName" placeholder="Enter veggie name" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Veggie</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Weekly Progress</h2>
        <div id="weeklyProgress"></div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <h2>Weekly Veggies</h2>
        <ul id="weeklyVeggies" class="list-group"></ul>
    </div>
    <div class="col-md-6">
        <h2>Suggested Veggies</h2>
        <ul id="suggestedVeggies" class="list-group"></ul>
    </div>
</div>

<script>
$(document).ready(function() {
    // Load initial data
    loadWeeklyVeggies();
    loadSuggestedVeggies();

    // Add veggie form submission
    $('#addVeggieForm').submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: '/add_veggie',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ veggie_name: $('#veggieName').val() }),
            success: function(response) {
                $('#veggieName').val('');
                loadWeeklyVeggies();
                loadSuggestedVeggies();
            }
        });
    });

    function loadWeeklyVeggies() {
        $.get('/weekly_veggies', function(data) {
            $('#weeklyVeggies').empty();
            data.veggies.forEach(function(veggie) {
                $('#weeklyVeggies').append('<li class="list-group-item">' + veggie + '</li>');
            });
            $('#weeklyProgress').text('Progress: ' + data.progress);
        });
    }

    function loadSuggestedVeggies() {
        $.get('/suggest_veggies', function(data) {
            $('#suggestedVeggies').empty();
            data.suggestions.forEach(function(veggie) {
                $('#suggestedVeggies').append('<li class="list-group-item">' + veggie + '</li>');
            });
        });
    }
});
</script>
{% endblock %}